.clear{
    clear:left;
    clear:right;
}
.filter{
    background-color:#9f9f9f;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:99;
}
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
.body,html{
    
}
#bar-icon2{
    display:none;
}


.btn {
    width:500px;

    
}




.menu{
    display:inline-block;
      width:100%;
    text-align:center;
    font-size:0px;
    box-shadow: 0 0.2vw 0.2vw hsl(0deg 0% 0% /0.25);
}
.menu-box{
    display:inline-block;
    width:100%;
    max-width:1000px;
    text-align:center;
    font-size:0px;
}
.menu a{
    display:inline-block;
    width:16%;
    padding:8px 0px;
    float:left;
    font-size: 20px;
    color:rgba(34, 49, 52, 0.7);
    text-decoration: none;
    font-family:Helvetica;
    text-align:center;
    box-sizing: border-box;
}
.menu p{
    margin:10px 0px;
}
.icon{
    margin-bottom: 10px;
}

.now {
    color:rgba(34, 49, 52, 0.9) !important;
    border-bottom: solid 3px rgba(34, 49, 52, 0.9);
}
.now :hover{
    color:rgba(34, 49, 52, 0.9) !important;
}
.menu :hover{
    color:rgba(34, 49, 52, 0.5);
}

.side-menu {
    display:none;
}
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

span#bar-icon2 {
    display: none;
}

.menu{
    position:relative;
    display:inline-block;
    width:100%;
    text-align:center;
    font-size:0px;
    box-shadow: 0.1vw 0.2vw 0.2vw hsl(0deg 0% 0% /0.25);
}
.menu-box{
    display:inline-block;
    width:100%;
    max-width:1000px;
    text-align:center;
    font-size:0px;
}
.menu a{
    display:inline-block;
    width:16%;
    padding:8px 0px;
    float:left;
    font-size: 20px;
    color:rgba(34, 49, 52, 0.7);
    text-decoration: none;
    font-family:Helvetica;
    text-align:center;
    box-sizing: border-box;
}
.menu p{
    margin:10px 0px;
}
.icon{
    margin-bottom: 10px;
}

.now {
    color:rgba(34, 49, 52, 0.9) !important;
    border-bottom: solid 3px rgba(34, 49, 52, 0.9);
}
.now :hover{
    color:rgba(34, 49, 52, 0.9) !important;
}
.menu :hover{
    color:rgba(34, 49, 52, 0.5);
}
.side-menu-box{
    display:none;
}


.conduct-form {
    width:100%;
    height:100vh;
}

.conduct-header{
    text-align: center;
}
.conduct-main{
    text-align: center;
   
    height: 100vh;
    margin-left:100px;
    margin-right:100px;
    margin-top:50px;
    background-color:rgb(182, 176, 176);
}
.name{
    height: 30px;
}
textarea{
    width:70%;
    height:40%;
}
input[type="submit"] {
    margin-top: 30px;
    width: 30%;
    border: 1px solid #5cb85c;
    border-radius: 4px;
    padding: 12px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    font-size: 14px;
    line-height: 1.428571429;
    color: white;
    background-color: #5cb85c;
  }
  input[name="age"]{
      width:45px;
  }
  .red{

    color:red;
}