*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
.menu{
    display:inline-block;
    width:100%;
    text-align:center;
    font-size:0px;
    border-bottom:2px solid gray;
}
.menu-box{
    display:inline-block;
    width:100%;
    max-width:1000px;
    text-align:center;
    font-size:0px;
}
.menu a{
    display:inline-block;
    width:16%;
    padding:0px 0px 8px 0px;
    float:left;
    font-size: 20px;
    color:rgba(34, 49, 52, 0.7);
    text-decoration: none;
    font-family:Helvetica;
    text-align:center;
    box-sizing: border-box;
}
.menu p{
    margin:10px 0px;
}
.icon{
    margin-bottom: 10px;
}

.now {
    color:rgba(34, 49, 52, 0.9) !important;
    border-bottom: solid 3px rgba(34, 49, 52, 0.9);
}
.now :hover{
    color:rgba(34, 49, 52, 0.9) !important;
}
.menu :hover{
    color:rgba(34, 49, 52, 0.5);
}
/*
.menu p{
    width:150px;
  
}
.icon {
    width:150px;
    
}*/

.now {
    color:rgba(34, 49, 52, 0.9) !important;
    border-bottom: solid 3px rgba(34, 49, 52, 0.9);
}
.now :hover{
    color:rgba(34, 49, 52, 0.9) !important;
}
.menu :hover{
    color:rgba(34, 49, 52, 0.5);
}

.side-menu {
    display:none;
    background-color: white;
    width:180px;
    height:100%;
    position:fixed;
    top:0px;
    left:0px;
    text-align: center;
    border-right:solid 1px grey;
    z-index:2;
}
.side-menu-box{
    display:inline-block;
}
.close-icon{
    
    font-size: 20px;
}
.side-menu-box p:hover{
    color:rgba(34, 49, 52, 0.9) !important;
}
.side-menu-box a:hover{
    color:rgba(34, 49, 52, 0.9) !important;
}


.side-menu a{
    display:block;
    width:150px;
    padding:10px 0px;
    margin:10px 0px;
    font-size: 20px;
    color:rgba(34, 49, 52, 0.7);
    text-decoration: none;
    font-family:Helvetica;
    text-align:center;
    border-bottom:solid 1px rgb(206, 206, 206);
}

.side-menu p{
    margin:0px;
}

.side-menu-text{
    margin:10px auto 0px auto !important;
    text-align:left;
    width:170px;
    color:rgba(34, 49, 52, 1);
    font-size:30px;
    border-bottom:solid 2px rgba(34, 49, 52, 1);

}
.side-menu-top :hover{
    color:rgba(34, 49, 52, 0.5);

}
.side-menu p :hover {
    color:rgba(34, 49, 52, 0.9) !important;
}


.now.side{
    color:rgba(34, 49, 52, 0.9) !important;
    border-right: solid 3px rgba(34, 49, 52, 0.9) !important;
    border-bottom:solid 1px rgb(206, 206, 206);
    margin-left:-3px;
}
.now.side :hover{
    color:rgba(34, 49, 52, 0.9) !important;
}
#bar-icon2{
    display:none;
}
.contents-cover{
background-image:URL("old-wood.png");
height:3000px;
}
.instagram-title{
    color:white;
    text-align: center;
    font-family: 'Old Standard TT', serif;
    color:white;
   
  
}

.box {
    width: 45%;                /* 横幅を200pxに指定 */
    height: 800px;               /* 横幅を200pxに指定 */
        /* わかりやすくボーダーを引く */
    overflow-y: scroll;          /* 縦方向にスクロール可能にする */
    
    float:left;
   margin-left:70px;
   margin-bottom:30px;
   -ms-overflow-style: none;    /* IE, Edge 対応 */
   scrollbar-width: none;       /* Firefox 対応 */
  }
  .box::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
  }

  .box p{
    font-family: 'Old Standard TT', serif;
    color:white;
    font-size: 20px;
    touch-action:none !important;
   
  }
  .date{
      display:none;
  }
 