:root{ 
    --shadow-color:60;
}

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

html body{
    font-size:0;
    padding:0;
}
.imgBox{
    display:inline-block;
    float:left;
    width:31%;
    height:22vw;
    margin:0% 1% 2% 1% ;
    text-align:center;
    filter: drop-shadow(0.5vw 1vw 1vw hsl(0deg 0% 0% /0.25));

}
.imgBox img{
    object-fit: cover;
    max-width:100%;
}
.topBox a{
    display: table-cell;
    vertical-align: middle;
    color:#F2B366;
    padding-left:1vw;
    font-size:1.5vw;
}
.topBox{
    margin:2vw;
    width:100%;

    overflow: auto;
}

.icon-box{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width:4vw;
    height:4vw;
    font-size:2vw;
    color:white;
    background-color:#F2B366;
    border-radius: 50%;
}
.instagram{
    margin:2% 5%;
    background-color:rgba(34, 49, 52, 0.05);
    overflow: auto;
    box-shadow: 0.7vw 0.7vw 2vw hsl(0deg 0% 0% /0.25);
    z-index:100;
    padding:0 2vw;
}
.instagram img{
    height:100%;
}
.white{
    color:white;
}

span#bar-icon2 {
    display: none;
}

.menu{
    display:inline-block;
    width:100%;
    text-align:center;
    font-size:0px;
    box-shadow: 0.1vw 0.2vw 0.2vw hsl(0deg 0% 0% /0.25);
}
.menu-box{
    display:inline-block;
    width:100%;
    max-width:1000px;
    text-align:center;
    font-size:0px;
}
.menu a{
    display:inline-block;
    width:16%;
    padding:8px 0px;
    float:left;
    font-size: 20px;
    color:rgba(34, 49, 52, 0.7);
    text-decoration: none;
    font-family:Helvetica;
    text-align:center;
    box-sizing: border-box;
}
.menu p{
    margin:10px 0px;
}
.icon{
    margin-bottom: 10px;
}

.now {
    color:rgba(34, 49, 52, 0.9) !important;
    border-bottom: solid 3px rgba(34, 49, 52, 0.9);
}
.now :hover{
    color:rgba(34, 49, 52, 0.9) !important;
}
.menu :hover{
    color:rgba(34, 49, 52, 0.5);
}

