:root{ 
    --shadow-color:700;
}
html body{
    font-size:0;
    padding:0;
}
.imgBox{
    display:inline-block;
    float:left;
    width:29%;
    height:22vw;
    margin:2% 1% 0 2% ;
    text-align:center;
}
.topBox a{
    display: table-cell;
    vertical-align: middle;
    color:#F2B366;
    padding-left:1vw;
    font-size:1.5vw;
}
.topBox{
    margin-bottom:0vw ;
    width:100%;

    overflow: auto;
}

.icon-box{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width:4vw;
    height:4vw;
    font-size:2vw;
    color:white;
    background-color:#F2B366;
    border-radius: 50%;
}
.instagram{
    padding:1%;
    margin:2% 5%;
    background-color:rgba(34, 49, 52, 0.05);
    overflow: auto;
    box-shadow: 0.4vw 0.8vw 0.8vw hsl(230deg 0% 0% /0.25);
}
.instagram img{
    height:100%;
}
.white{
    color:white;
}

span#bar-icon2 {
    display: none;
}

.menu{
    display:inline-block;
    width:100%;
    text-align:center;
    font-size:0px;
    /*
    border-bottom:0.2vw solid gray;
    */
    box-shadow:
        4.5px 4.5px 3.6px rgba(var(--shadow-color), 0, 0, 0.038),
        12.5px 12.5px 10px rgba(var(--shadow-color), 0, 0, 0.055),
        30.1px 30.1px 24.1px rgba(var(--shadow-color), 0, 0, 0.072),
        100px 100px 80px rgba(var(--shadow-color), 0, 0, 0.11)
    ;
    padding:0px !important;
    line-height: 0;
}
.menu-box{
    display:inline-block;
    width:100%;
    text-align:center;
    font-size:0px;
    max-width:1000px;
    padding:0px;
    margin:0px;
    line-height: 0;
}
.menu a{
    display:inline-block;
    width:16.6%;
    padding:0px 0px 0.5vw 0px;
    float:left;
    font-size: 1.7vw;
    color:rgba(34, 49, 52, 0.7);
    text-decoration: none;
    font-family:Helvetica;
    text-align:center;
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}
.menu p{
}
.icon{
    margin-bottom: 10px;
}


.now {
    color:rgba(34, 49, 52, 0.9) !important;
    border-bottom: solid 0.2vw rgba(34, 49, 52, 0.9) !important;
}
.now :hover{
    color:rgba(34, 49, 52, 0.9) !important;
}
.menu :hover{
    color:rgba(34, 49, 52, 0.5);
}

.side-menu {
    display:none;
    background-color: white;
    width:180px;
    height:100%;
    position:fixed;
    top:0px;
    left:0px;
    text-align: center;
    border-right:solid 1px grey;
    z-index:2;
}
.side-menu-box{
    display:inline-block;
}
.close-icon{
    
    font-size: 20px;
}
.side-menu-box p:hover{
    color:rgba(34, 49, 52, 0.9) !important;
}
.side-menu-box a:hover{
    color:rgba(34, 49, 52, 0.9) !important;
}


.side-menu a{
    display:block;
    width:150px;
    padding:10px 0px;
    margin:10px 0px;
    font-size: 20px;
    color:rgba(34, 49, 52, 0.7);
    text-decoration: none;
    font-family:Helvetica;
    text-align:center;
    border-bottom:solid 1px rgb(206, 206, 206);
}

.side-menu p{
    margin:0px;
}

.side-menu-text{
    margin:10px auto 0px auto !important;
    text-align:left;
    width:170px;
    color:rgba(34, 49, 52, 1);
    font-size:30px;
    border-bottom:solid 2px rgba(34, 49, 52, 1);

}
.side-menu-top :hover{
    color:rgba(34, 49, 52, 0.5);

}
.side-menu p :hover {
    color:rgba(34, 49, 52, 0.9) !important;
}


.now.side{
    color:rgba(34, 49, 52, 0.9) !important;
    border-right: solid 3px rgba(34, 49, 52, 0.9) !important;
    border-bottom:solid 1px rgb(206, 206, 206);
    margin-left:-3px;
}
.now.side :hover{
    color:rgba(34, 49, 52, 0.9) !important;
}
