*{
  padding: 0px;
  margin: 0px;
}
.br-point{
  display: none;
}
body{
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: black;
 font-family: Serif、Script;
}
.side-menu {
  display:none;
  background-color: white;
  width:180px;
  height:100%;
  position:fixed;
  top:0px;
  left:0px;
  text-align: center;
  border-right:solid 1px grey;
  z-index:2;
}
.side-menu-box{
  display:inline-block;
}
.close-icon{
  
  font-size: 20px;
}
.side-menu-box p:hover{
  color:rgba(34, 49, 52, 0.9) !important;
}
.side-menu-box a:hover{
  color:rgba(34, 49, 52, 0.9) !important;
}


.side-menu a{
  display:block;
  width:150px;
  padding:10px 0px;
  margin:10px 0px;
  font-size: 20px;
  color:rgba(34, 49, 52, 0.7);
  text-decoration: none;
  font-family:Helvetica;
  text-align:center;
  border-bottom:solid 1px rgb(206, 206, 206);
}

.side-menu-text{
  margin:0px auto;
  text-align:left;
  width:170px;
  margin-top:10px;
  color:rgba(34, 49, 52, 1);
  font-size:30px;
  border-bottom:solid 2px rgba(34, 49, 52, 1);

}
.side-menu-top :hover{
  color:rgba(34, 49, 52, 0.5);

}
.side-menu p :hover {
  color:rgba(34, 49, 52, 0.9) !important;
}


.now.side{
  color:rgba(34, 49, 52, 0.9) !important;
  border-right: solid 3px rgba(34, 49, 52, 0.9) !important;
  border-bottom:solid 1px rgb(206, 206, 206);
  margin-left:-3px;
}
.now.side :hover{
  color:rgba(34, 49, 52, 0.9) !important;
}


.menu{
  display:inline-block;
  background-color: black;
  width:100%;
  height: 8%;
  text-align:center;
  font-size:0px;
  box-shadow: 0vw 0.2vw 0.2vw gray;
}
.menu-box{
  display:inline-block;
  width:100%;
  height: 100%;
  max-width:1000px;
  text-align:center;
  font-size:0px;
}
.menu a{
  display:inline-block;
  width:16%;
  height: 100%;
  padding-top:0.1%;
  padding-bottom: 3%;
  float:left;
  font-size: 20px;
  color:rgba(255, 255, 255, 0.61);
  text-decoration: none;
  font-family:Helvetica;
  text-align:center;
  box-sizing: border-box;
}
.menu p{
  font-size: 15px;
  margin-top:8%;
  margin-bottom: 2%;
}
.icon{
  margin-bottom: 10px;
  margin-top: 5px;
}

.now {
  color:whitesmoke !important;
  padding-bottom: 0px!important;
  border-bottom: solid 3px white;
}
.now :hover{
  color:white !important;
}
.menu :hover{
  color:white ;
}
.menu-icon{
  display: none;
}
.detail{
  width: 80%;
  height: 1000px;
  position: relative;
  display: flex;
  margin-top: 0px;
  background-color: black;
  padding-right: 10%;
  padding-left: 10%;
}
.profile-section{
  width: 50%;
}
.profile{
  width: 50%;
  position: absolute;
  
  font-size: 20px;
 
}
.profile h1{
  padding-left:20px;
  padding-top:10px;
  font-size: 80px;
  font-family: 'Allison', cursive;
}
.profile-photo{
  display:none;
}
.main-sentence{
  width: 40%;
  position: absolute;
  top: 200px;
  font-size: 17px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  
}
.detail-section{
  min-width: 375px;
  width: 40%;
  display: none;
  position: absolute;
  font-size: 17px;
  line-height: 25px;
  top: 200px;
  word-wrap: break-word;
  overflow-wrap: break-word;
 
}
#piascore{
  color: silver;
}
.photo{
  position: absolute;
  min-width: 375px;
  
  width: 50%;
  height: 800px;
  background-image: url("profile_new (5).png");
  background-size: 80%,80%;
  background-repeat: no-repeat;
  right: 0%;
}
.bokashi{
  opacity: 0.3;
}
.detail-close-btn{
  opacity: 0.8;
}
.detail-open-btn{
  opacity: 0.8;  
}
.add-contents{
 
  padding:30px 50px;
  position:relative;
  font-size:0px;
  border-top: 1px solid gray;
} 
.contents{
  padding:0px 10px;
  width:25%;
}
.contents-box{
  width:100%;
}
.contents-box a{
  box-sizing:border-box;
}


