@media(max-width:750px){

    #bar-icon2{
        left: 5%;
        top:3%;
        position:fixed;
        float:right;
        color:rgba(35,35,35,0.9);
        z-index:2;
        display:inline-block;
       
    }
    .menu{
        display:none;
    }
    .schedule{
        margin-top:12vw;
    }
    .fc-left{
        display:none;
    }
    .fc-right{
        width:40%;
    }
    
}