*{
  padding: 0px;
  margin: 0px;
}

body{
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: black;
 font-family: Serif、Script;
}
.side-menu {
  display:none;
  
}


.menu{
  display:inline-block;
  background-color: black;
  width:100%;
  height: 8%;
  min-height: 76px;
  text-align:center;
  font-size:0px;
  border-bottom: solid 3px white;
  overflow: hidden;
}
.menu-box{
  display:inline-block;
  width:100%;
  height: 100%;
  max-width:1000px;
  text-align:center;
  font-size:0px;
}
.menu a{
  display:inline-block;
  width:12%;
  margin-left: 4%;
  height: 100%;
  padding-top:0.1%;
  float:left;
  font-size: 20px;
  color:rgba(255, 255, 255, 0.61);
  text-decoration: none;
  font-family:Helvetica;
  text-align:center;
  box-sizing: border-box;
  
}
.menu p{
  font-size: 15px;
  margin-top:13%;
 
}
.icon{
  margin-top: 5px;
}

.now {
  color:whitesmoke !important;
  padding-bottom: 0px!important;
  border-bottom: solid 2px white;
}
.now :hover{
  color:white !important;
}
.menu :hover{
  color:white ;
}
.menu-icon{
  display: none;
}
hr{
width: 100%;

}
.detail{
  width: 80%;
  height: 1000px;
  position: relative;
  display: flex;
  margin-top: 0px;
  background-color: black;
  padding-right: 10%;
  padding-left: 10%;
}
.profile-section{
  width: 50%;
}
.profile{
  width: 50%;
  position: absolute;
  
  font-size: 20px;
 
}
.profile h1{
  padding-left:20px;
  padding-top:10px;
  padding-bottom:10px;
  font-size: 80px;
  font-family: 'Allison', cursive;
}
.profile-photo{
  display:none;
}
.main-sentence{
  width: 40%;
  position: absolute;
  top: 200px;
  font-size: 17px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  
}
.detail-section{
  min-width: 375px;
  width: 40%;
  /* display: none; */
  position: absolute;
  font-size: 17px;
  line-height: 25px;
  top: 123px;
  word-wrap: break-word;
  overflow-wrap: break-word;
 
}
#piascore{
  color: silver;
}
.photo{
  position: absolute;
  min-width: 375px;
  
  width: 50%;
  height: 800px;
  background-image: url("profile_photo.png");
  background-size: 80%,80%;
  background-repeat: no-repeat;
  right: 0%;
}
.bokashi{
  opacity: 0.3;
}
.detail-close-btn{
  opacity: 0.8;
}
.detail-open-btn{
  opacity: 0.8;  
}
.add-contents{
 background-color: white;
  padding:30px 50px;
  position:relative;
  font-size:0px;
  border-top: 1px solid gray;
} 
.contents{
  padding:0px 10px;
  width:25%;
}
.contents-box{
  width:100%;
}
.contents-box a{
  box-sizing:border-box;
}


