/* こっからテンプレ　　　　　　ーーーーーーーーーーーーーーーーーー */
*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 3;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 4;
}

html,body{
  height:100%;
}
html{
  background-color: #000;
  font-size:100%;
}
.wrap{
  height:100%;
  font-size:100%;
}
.clear{
  clear:left;
  clear:right;
}
#center{
  background-position-x:center;
}
/* ここまでテンプレ　　　　　　　　　　　　　ーーーーーーーーーーーーーーーーーー */

/* ここからメニュー関連　　　　　　　　　　　ーーーーーーーーーーーーーーーーーー */
.btn{
  display:inline-block;
  color:white;
  float:right;
  width:25%;
}
.btn :hover{
  color:grey;
}
.btn-wrapper{
  position:absolute;
  top:3vw;
  right:3vw;
  float:right;
  font-size:15px;
  width:21vw;
  background-color:transparent;
 
}

.btn-wrapper a{
  background-color:transparent;
  
}
.lines-box-mobile {
  display:none;
}
.lines-box {
  position:absolute;
  top:76%;
  right:0vw;
  width:50%;
  text-align:right;
  font-size:0px;
}
.lines-box hr{
  display:inline-block;
  margin-top:1.2vw;
  height:0.15vw;
  background-color:white;
}
#firstLine hr{
  width:0%;
}
#secondLine hr{
  width:0%;
  
}
#thirdLine hr{
  width:0%;
  
}
#fourthLine hr{
  width:0%;
  
}
#fifthLine hr{
  width:0%;
  
}

.menu{
  display:inline-block;
    width:100%;
  text-align:center;
  font-size:0px;
  box-shadow: 0 0.2vw 0.2vw hsla(0, 0%, 35%, 0.25);
  background-color: black
}
.menu-box{
  display:inline-block;
  width:100%;
  max-width:830px;
  text-align:center;
  font-size:0px;
}
.menu a{
  display:inline-block;
  width:20%;
  padding:8px 0px;
  float:left;
  font-size: 20px;
  color:rgb(255, 255, 255);
  text-decoration: none;
  font-family:Helvetica;
  text-align:center;
  box-sizing: border-box;
}
.menu p{
  margin:10px 0px;
}
.icon{
  margin-bottom: 10px;
}

.now {
  color:rgba(122, 130, 132, 0.9) !important;
  border-bottom: solid 3px rgb(158, 158, 158);
}
.now :hover{
  color:rgba(34, 49, 52, 0.9) !important;
}
.menu :hover{
  color:rgba(34, 49, 52, 0.5);
}

.side-menu {
  display:none;
}

/* ここまでメニュー関連　　　　　　　　　　　ーーーーーーーーーーーーーーーーーー */
 
/* ここからプロフィール関連　　　　　　　　　　　ーーーーーーーーーーーーーーーーーー */
.detail{
  font-size:0px;
  background-color: #000;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("profile_photo.png");
  position: relative;
  background-size: cover; /*--背景画像のサイズ--*/
  background-attachment: fixed; /*--背景画像の固定--*/
  background-repeat: no-repeat; /*--背景画像の繰り返し--*/
  background-position: center center; /*--背景画像の位置--*/
  z-index:1;
}

.profile{
  /* margin-top:30px; */
  font-size: 50px;
  font-family: 'Allison', cursive;
  padding-top:30px;
}
.profile h6{
    color: rgb(203, 203, 203);
    font-size: 20px;
    padding-bottom:5%;
}
.profile-photo{
  display:none;
}

.profile-section{
  color:white;
  width: 100%;
  max-width: 830px;
  text-align: center;
  margin:auto;
  padding-bottom:30px;
}
.detail-section p{
  font-size:16px;
  text-shadow: 2px 2px 4px #000;
  text-align: left;
  line-height: 2em; 
}
.detail-section a{
  font-size:16px;
  text-shadow: 2px 2px 4px #000;
  color:#56B5EA;
  text-align: left;
  padding:30px 0px;
  line-height: 2em; 
}
/* ここまでプロフィール関連　　　　　　　　　　　ーーーーーーーーーーーーーーーーーー */



/* ここからコンテンツ関連　　　　　　　　　　　ーーーーーーーーーーーーーーーーーー */

.add-contents{
 
  padding:30px 50px;
  position:relative;
  font-size:0px;
  text-align: center;
  background-color: white;
} 
.contents{
  padding:0px 10px;
  width:33%;
  max-width: 290px;
}
.contents-box{
  display:inline-block;
  /* width:100%; */
}
.contents-box a{
  box-sizing:border-box;
}
footer{
  padding:30px;
  overflow: hidden;
  width:100%;
  background-color: #222222;
}
footer p{
  color: #cccccc;
  font-size:10px;
  float:right;
  padding:5px;
}
.copyright{
  float:left;
}

/* ここまでコンテンツ関連　　　　　　　　　　　ーーーーーーーーーーーーーーーーーー */




  

